
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');


/* -=================================================================- */
/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #B3F2EC;
    --accent-color: #156F5F;
    --text-color: #000000;
    --container-color: #23B89D;
    --body-color: #EEFCF9;

    /* --text: #140a14;
    --background: #fcf8fb;
    --primary: #3e7a43;
    --secondary: #c9e4d8;
    --accent: #6a954b; */

    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: 'Lora', serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font: 2.7rem;
    --big-font-size: 2.5rem;
    --title-font-size: 2.3rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ================= */
    /* =========Z INDEX======== */
    --z-fixed: 10;
    /* ================= */
}

/* == RESPONSIVE FONT & TYPOGRAPHY == */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --big-font-size: 3.2rem;
      --title-size: 2.7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 5rem 0 0;
    overflow-x: hidden;
}

.section__title{
    font-size: var(--title-font-size);
    font-weight: var(--font-bold);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.section__subtitle{
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
}

.description{
    font-size: var(--normal-font-size);
}

/* -======= BUTTONS ========- */

.button-fill,
.button-outline{
    height: 75px;
    max-width: 250px;
    min-width: 225px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.button-fill{
    background-color: var(--accent-color);
}

.button-outline{
    border: 5px solid var(--container-color);
    background-color: transparent;
}

.button-fill a{
    color: var(--body-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

.button-outline a{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

/* -=================================================================- */

/* -================================= HEADER & NAVIGATION ================================- */
.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    height: calc( max-height + 2rem);
}

.nav{
    height: 5.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    width: 155px;
    height: 45px;
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.5rem;
    color: var(--text-color-white);
    cursor: pointer;
}

/* -================================= MOBILE NAVIGATION CSS ================================- */
@media screen and (max-width: 1023px){

    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #dde8de9d;
        width: 75%;
        height: 100%;
        padding: 8.5rem 0 0 3rem;
        border-left: 5px solid var(--accent-color);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .5s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.nav__link{
    color: var(--text-color-white);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--accent-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.2rem;
}

/* SHOW MENU */
.show-menu{
    right: 0;
}

/* ADD BLUR TO HEADER */
.blur-header{
    background-color: transparent;
}

/* Active link */
.active-link{
    color: var(--accent-color);
}

.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: var(--body-color);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}

/* -================================= DESKTOP NAVIGATION CSS ================================- */
@media screen and (min-width: 1023px){

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu{
        width: initial;
    }

    .blur-header::after{
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
    }

    .nav__link{
        font-size: var(--normal-font-size);
    }

}
/* -======================================================================================- */


/* -================================= SECTION 1 ================================- */
.home{
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.home__box{
    gap: 2rem;
}

.home__box-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__title,
.home__subtitle{
    margin-bottom: 0;
}

.home__title span{
  background: linear-gradient(to right, var(--accent-color), var(--container-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__buttons{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__footer{
    margin-top: 2.5rem;
    width: 100%;
    height: max-content;
    padding: 2.5rem 1rem;
    background-color: var(--container-color);
    gap: 4rem;
    justify-content: center;
    border-radius: 2.5rem;
    box-shadow: 2px 8px 16px #00000045;
}

.footer__info{
    text-align: center;
}

.footer__title{
    font-size: var(--big-font-size);
    color: var(--body-color);
}

.footer__description{
    color: var(--body-color);
    font-size: var(--h3-font-size);
}

.home__bkgr{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
}
/* -============================================================================- */


/* -================================= SECTION 2 ================================- */
.about{
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
}

.about__title{
    text-align: center;
}

.about__subtitle{
    background: linear-gradient(to right, var(--accent-color), var(--container-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__container{
    gap: 2rem;
}

.about__box-1,
.about__box-2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__description-alt{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.about__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.list__item{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.list__item i{
    color: var(--accent-color);
}

.list__item p{
    font-weight: var(--font-medium);
}

.about__info-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__info-box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about__info-box a{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}

.about__info-box i{
    color: var(--accent-color);
    font-size: 2.5rem;
}

.questions__item{
    background-color: transparent;
    border: 5px solid var(--container-color);
    border-radius: .5rem;
  }

  .questions__item-title{
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
  }

  .questions__icon{
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .questions__description{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }

  .questions__header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 2rem 1.5rem;
    cursor: pointer;
  }

  .questions__content{
    overflow: hidden;
    height: 0;
  }

  .questions__item,
  .questions__header,
  .questions__item-title,
  .questions__icon,
  .questions__description,
  .questions__content{
    transition: .3s;
  }

  .accordion-open .questions__header,
  .accordion-open .questions__content{
    background-color: var(--body-color);
    /* border-radius: .5rem; */
  }

  .accordion-open .questions__icon{
    transform: rotate(90deg);
    color: var(--text-color);
  }

  .accordion-open .questions__item{
    border-radius: .5rem;
  }

.about__bkgr{
    position: absolute;
    right: 0;
    top: 0;
    /* transform: translateY(50%); */
    z-index: -1;
    height: 100%;
    opacity: .7;
}
/* -============================================================================- */


/* -================================= SECTION 3 ================================- */
.courses{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.courses__container{
    display: grid;
    gap: 2.5rem;
}

.courses__header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.underline{
    content: '';
    background-color: var(--container-color);
    height: 4px;
    width: 100%;
    margin-top: .5rem;
}

.courses__description,
.legend__description{
    font-weight: var(--font-semi-bold);
}

.legend__container{
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.star__box{
    display: grid;
    place-items: center;
    background-color: var(--container-color);
    width: 45px;
    height: 45px;
}

.star__box i{
    font-size: 1.5rem;
    color: var(--text-color);
}

.courses__grades{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: var(--font-bold);
}

.section__container{
    gap: 1.5rem;
}

.section__container .questions__item{
    border: 6px solid var(--primary-color);
    border-radius: 1.5rem;
}
/* -============================================================================- */


/* -================================= SECTION 4 ================================- */
.contact{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__header{
    gap: 2.5rem;
}

.contact__title{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact__title i{
    font-size: 2rem;
    color: var(--accent-color);
}

.contact-form{
    gap: 2rem;
}

.form__text{
    color: var(--text-color);
    font-family: var(--body-font);
}

.form__text-alt{
    font-weight: var(--font-semi-bold);
}

.form-group{
    position: relative;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 5px;
}

input,
textarea{
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--container-color);
    background-color: transparent;
    color: var(--text-color);
    font-family: var(--body-font);
}

.contact__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    width: 180px;
    color: var(--body-color);
}

.contact-button i{
    font-size: var(--h2-font-size);
}
/* -============================================================================- */

/* -================================= FOOTER ================================- */
.footer{
    background-color: #000000;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.copyright{
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    text-align: center;
}

.copyright span{
    background: linear-gradient(to right, #A43ACB, #4717F7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--font-medium);
}
/* -=========================================================================- */



/* -================================= CSS BREAKPOINTS ================================- */
@media screen and (max-width: 300px){
    .description{
        font-size: var(--small-font-size);
    }

    .about__container{
        width: 100%;
    }
}
/* -==== For medium devices ====- */
@media screen and (min-width: 700px){
    
    /* RESUABLE CLASSES */
    .container{
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .button-fill,
    .button-outline{
        min-width: 150px;
    }

    /* HOME SECTION */

    .home-fill a{
        font-size: var(--normal-font-size);
    }

    .home-outline a{
        font-size: var(--normal-font-size);
    }

    .home__box{
        grid-template-columns: repeat(2, 1fr);
    }

    .home__buttons{
        flex-direction: row;
    }

    .home__footer{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .footer__title{
        font-size: var(--h2-font-size);
    }

    .footer__description{
        font-size: var(--normal-font-size);
    }

    /* ABOUT SECTION  */

    .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    /* COURSES SECTION */

    .courses__header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .section__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .section__container .questions__item:nth-child(3){
        grid-column: span 2;
        grid-row: span 1;
    }

    /* CONTACT SECTION */

    .contact__container{
        gap: 4.5rem;
    }

    .contact__header{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .contact-form .form-group:nth-child(3){
        grid-column: span 2;
    }

    label{
        display: block;
        margin-bottom: 5px;
        background-color: var(--body-color);
        position: absolute;
        left: 10%;
        top: -15%;
        border-radius: .1rem;
        padding: .2rem;
    }
    
    input,
    textarea{
        width: 100%;
        border: 4px solid var(--container-color);
        border-radius: .5rem;
        background-color: transparent;
        color: var(--text-color);
        font-family: var(--body-font);
        height: 75px;
    }
}

/* -==== For Desktop devices ====- */
@media screen and (min-width: 1024px){

    /* REUSABLE CLASSES */
    .container{
        margin-right: auto;
        margin-left: auto;
    }

    .home__img-box{
        display: grid;
        place-items: center;
    }

    .home__img{
        width: 300px;
    }

    /* COURSES SECTION  */
    .section__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .section__container .questions__item:nth-child(3){
        grid-column: span 1;
        grid-row: span 1;
    }

}

/* -==================================================================================- */
